.btn {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
  border-color: rgb(200, 200, 200);
  background-color: rgb(255, 255, 255);
  background-image: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 10px 25px;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  background-size: auto;
  background-repeat: repeat;
  background-position: center center;
  font-size: 14px;
  font-style: normal;
  font-family: Arial;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
