$lighten: 15%;

.hide {
  display: none!important;
}
.text-left {
  text-align: left!important;
}
.text-center {
  text-align: center!important;
}
.text-right {
  text-align: right!important;
}
.content {
  height: 100vh;
  text-align: center;
  background: #222222;
  background: -moz-linear-gradient(top, #000000 0%, #222222 100%);
  background: -webkit-linear-gradient(top, #000000 0%,#222222 100%);
  background: linear-gradient(to bottom, #000000 0%,#222222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#515151',GradientType=0 );
  background-size: cover;
  background-position: center;

  opacity: 0.5;
  transition: opacity 0.7s;
  &.active {
    opacity: 1;
  }

  h1, h2 {
    font-family: 'Ludicrous', Arial;
    letter-spacing: 1.5px;
  }
  h1, h2, p {
    margin: 0;
    padding: 0 50px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 25px;
  }
  .content-info {
    position: relative;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }

  $block_color: #FFF;
  &#deluxe_cafe {
    background-image: url(../img/block__deluxe-cafe__background.jpg);
    h1 {
      img {
        color: $block_color;
        width: 100%;
        max-width: 300px;
      }
    }
    h2 {
      color: lighten($block_color, $lighten);
      margin-top: -15px;
      margin-bottom: 20px;
    }
    a {
      color: #FFF;
      font-size: 3em;
    }
  }

  $block_color: #89f58b;
  &#deluxe_coffee {
    background-image: url(../img/block__coffee__background.jpg);
    h1 {
      color: $block_color;
    }
    h2 {
      color: lighten($block_color, $lighten);
    }
    button {
      margin-top: 20px;
    }
  }

  $block_color: #a2faf8;
  &#deluxe_food {
    background-image: url(../img/block__food__background.jpg);
    h1 {
      color: $block_color;
    }
    h2, p {
      color: lighten($block_color, $lighten);
    }
    p {
      margin-top: 10px;
    }
    button {
      margin-top: 20px;
    }
  }

  $block_color: #f5d3b3;
  &#deluxe_art {
    background-image: url(../img/block__art__background.jpg);
    h1 {
      color: $block_color;
    }
    h2, p {
      color: lighten($block_color, $lighten);
    }
    p {
      margin-top: 10px;
      a {
        color: #a3c6ff;
        text-decoration: none;
      }
    }
    button {
      margin-top: 20px;
    }
  }

  $block_color: #FFF;
  &#deluxe_location {
    background-image: url(../img/block__location__background.jpg);
    img {
      width: 90%;
      max-width: 500px;
      margin-top: 30px;
    }
    h1 {
      color: $block_color;
    }
    h2, p {
      color: lighten($block_color, $lighten);
    }
    button {
      margin-top: 20px;
    }
    .b_l_info {
      text-align: left;
      width: 500px;
      max-width: 90%;
      margin: 0 auto;
      p {
        margin-top: 17px;
        padding: 0;
        a {
          color: #FFF;
          text-decoration: none;
        }
        .fa {
          font-size: 25px;
          margin-top: -4px;
          margin-right: 15px;
          float: left;
        }
      }
    }
  }

}
