.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #FFF;
  width: 75%;
  box-shadow: 0 0 20px 5px #222;
  z-index: 110;
  .modal-head {
    padding: 25px 20px 15px;
    background: #d2d2d2;
    h1 {
      color: #242424;
      text-align: center;
      font-family: 'Ludicrous', Arial;
      margin: 0;
    }
  }
  .modal-body {
    $list_img_size: 90px;
    .modal-body-list {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        height: $list_img_size;
        img {
          height: $list_img_size;
          float: left;
          margin-right: 15px;
        }
        h2 {
          margin: 0;
          padding-top: 18px;
          font-size: 20px;
        }
        p {
          margin: 0;
          padding-right: 10px;
        }
        &:nth-child(even) {
          background: #EEE;
        }
      }
      &.modal-body-list-nop {
        h2 {
          padding-top: 35px;
        }
      }
    }
  }
  &#img_modal {
    max-width: 350px;
    z-index: 112;
    .modal-body {
      padding: 20px 20px 18px;
      img {
        width: 100%;
      }
    }
  }
}
#modal-backdrop, #modal-backdrop-img {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.7);
  z-index: 105;
  > .fa {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    font-size: 60px;
    color: #FFF;
  }
}
#modal-backdrop-img {
  z-index: 111;
}
[data-modal] {
  cursor: pointer;
}
