#scrolltip {
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  left: 50%;
  width: 30px;
  height: 30px;
  background: $nav_color;
  border-radius: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 100;
  .fa {
    color: #FFF;
    font-size: 25px;
    margin-top: 2px;
    transition: margin 0.5s, transform 0.5s;
    &.fa-hand-o-down {
      font-size: 18px;
      margin-top: 7px;
    }
  }
  &:hover {
    .fa {
      margin-top: 6px;
      &.fa-hand-o-down {
        margin-top: 10px;
      }
    }
  }
  &.reverse {
    .fa {
      transform: rotate(180deg);
      margin-left: -1px;
      &.fa-hand-o-down {
        margin-top: 5px;
      }
    }
    &:hover {
      .fa {
        margin-top: -1px;
      }
      &.fa-hand-o-down {
        margin-top: 2px;
      }
    }
  }
}
